@import "tailwindcss";

@theme {
  --color-primary: #D4A5A5;
  --color-secondary: #333333;
  --color-background: #F9F7F7;
  --color-accent: #E6C2BF;
  --font-serif: "Playfair Display", serif;
  --font-sans: "Lato", sans-serif;
}

:root {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #333333;
  background-color: #F9F7F7;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}